<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 起别名 -->
	<typeAliases>
		<typeAlias type="com.dajingzhu.bean.Location" alias="Location" />
		<typeAlias type="com.dajingzhu.bean.Environmental_monitoring"
			alias="Environmental_monitoring" />
		<typeAlias type="com.dajingzhu.bean.vo.PageBean" alias="PageBean" />
		<typeAlias type="com.dajingzhu.bean.Equipment" alias="Equipment" />
		<typeAlias type="com.dajingzhu.bean.Safety_hat" alias="Safety_hat" />
		<typeAlias type="com.dajingzhu.bean.User" alias="User" />
		<typeAlias type="com.dajingzhu.bean.Logindate" alias="Logindate" />
		<typeAlias type="com.dajingzhu.bean.ConstructionSite" alias="ConstructionSite" />
		<typeAlias type="com.dajingzhu.bean.Video_monitor" alias="Video_monitor" />
		<typeAlias type="com.dajingzhu.bean.Workman" alias="Workman" />
		<typeAlias type="com.dajingzhu.bean.Power" alias="Power" />
		<typeAlias type="com.dajingzhu.bean.RegionAdministration" alias="RegionAdministration" />
		<typeAlias type="com.dajingzhu.bean.TowerCrane" alias="TowerCrane" />
		<typeAlias type="com.dajingzhu.bean.Grouping" alias="Grouping" />
	</typeAliases>

</configuration>
 